body {
  background-color: rgb(16, 16, 16);
  color: white;
  font-family: "Press Start 2P", system-ui;
}
header {
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin: 7% 2%;
}
.btn {
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 24px;
  font-family: "Press Start 2P", system-ui;
  cursor: pointer;
  border: none;
}

.secret-number {
  background: white;
  color: black;
  font-size: 52px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: relative;
  top: -50px;
  margin: auto;
  border-radius: 10px;
}
.positioning {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin: 5%;
}
.input {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}
input {
  width: 50%;
  height: 50px;
  border-radius: 10px;
  font-family: "Press Start 2P", system-ui;
  font-size: 20px;
  text-align: center;
  border: none;
  display: block;
  margin: auto;
}

.guess {
  margin-left: 50px;
  display: block;
  margin: auto;
}

@media (max-width: 960px) {
  header {
    grid-template-columns: 1fr;
    margin-bottom: 20%;
  }
  .grid-element {
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
  }
  .positioning {
    grid-template-columns: 1fr;
  }
  input {
    width: 80%;
  }
}
